* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;

    background-color: whitesmoke;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 300px;
}

.nav {
    margin-left: auto; 
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    position: relative;
    margin-left: 5px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center; 
    position: relative;
    line-height: 40px;
}
.nav ul li a:hover{
    color:orangered
}

.nav ul li a .fa-solid {
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    position:relative;
}

.nav ul li .fa-solid::before {
    content: "+";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 5px 0;
    width: auto; 
}

.nav ul li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    
padding:0px 0;
    align-items: center;

}

ul .sub-menu li a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-size: 18px;
    
}

.nav button {
    margin-left: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    background-color: orangered;
    border: none;
    border-radius: 25px;
}

.nav button:hover {
    background-color: black;
}

.nav ul li:hover .fa-solid::before {
    content: "-";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}
.page{
    display: flex;
    text-align: center;
    column-gap: 70px;
    width: 500px;
}
.welcome{
    height: 600px;
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.welcome1{
    
    height: 500px;
    width:50%;
    margin-left: 20px;
    margin-right: 20px;
}
.welcome button {
    margin-left: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    background-color: orangered;
    border: none;
    border-radius: 25px;
}

.welcome button:hover {
    background-color: black;
}

.welcome2{
    height: 500px;
    width:50%;
    background-image: url(images/65d43265c66159bcd2aaddc7_01.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome h2{
    height: 50px;
    width: 300px;
     align-content: center;
     padding-left: 13px;
     color: white;
     border-radius:10px;
    background:linear-gradient(rgb(137, 184, 231),rgb(63, 66, 253));
}
.welcome h1{
    font-size: 70px;
}
.welcome p{
    font-size: 20px;
    color: rgb(95, 93, 93);
}
.welcome2 img{
    height: 80px;
    width: 80px;
    
}
img .img1{

}
.welcome2 .img2{
 float: right;
}
.welcome2 .img3{
    padding-top: 250px;
   }
   .welcome2 .img4{
    float: right;
    margin-bottom: 100px;
   }
   .hello{
    height: 300px;
    width: 100%;
    position: absolute;
    border: solid black;
    
   }
   
   .hello1{
    column-gap: 40px;
    display: flex;
    position:relative;
   }
   .hello2{
    display: flex;
    position:relative;
   }
   .discover{
    height: 1100px;
    margin-top: 400px;
    width: 100%;
    background-color: rgb(219, 250, 219);
    
    
   }
   .discover1{
    height: 300px;
    width: 100%;
    text-align: center;
    
   }

   .discover1 h1{
    font-size: 50px;
   }
   .discover1 p{
    font-size: 20px;
   }
   
   .discover2{
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
    
   }
   .discover2 .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8{
    height: 350px;
    width: 290px;
    text-align: center;
    align-content: center;
     border-radius: 30px;
    border: solid black;
   }
   .box1{
 background-color: rgb(163, 92, 92);
   }
   .box2{
    background-color:rgb(87, 87, 153);
   }

   .box3{
    background-color:rgb(67, 117, 67);
   }

   .box4{
    background-color:rgb(124, 123, 123);
   }

   .box5{
    background-color:rgb(124, 123, 123);
   }

   .box6{
    background-color:rgb(67, 117, 67);
   }

   .box7{
    background-color:rgb(87, 87, 153);
   }

   .box8{
    background-color:rgb(163, 92, 92);
   }
   .discover2 button{
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    
   }
   .cow{
    height: 100px;
    width:100%;
    
   }
   .cow1{
    height: 500px;
    width: 100%;
    display: flex;

   }
   .cow2{
    height: 450px;
    width: 50%;

   }
   .cow3{
    height:450px;
    width: 50%;
   }
   .cow3 h1{
    font-size: 50px;
    margin-top: 50px;
   }
   .cow3 button {
    margin-left: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    background-color: orangered;
    border: none;
    border-radius: 25px;
}

.cow3 button:hover {
    background-color: black;
}
.wave{
    margin-top: 50px;
    height: 200px;
    width: 100%;
    background-image: url(images/curvedwave3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wave2{
    padding-top: 100px;
    display: flex;
    column-gap: 200px;
    margin-left: 150px;
    text-align: center;
}


